
@import "_include";
@import "_header-menu";

///////////////////////////////////////////////////////////////
// header
///////////////////////////////////////////////////////////////
header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 30px 0px;
	img {
		flex-shrink: 0;
		flex-grow: 0;
	}
	h1 {
		max-width: 600px;
		line-height: 1.2;
		margin: 0px 30px;
	}
	.contact {
		align-self: flex-start;
		flex-shrink: 0;
		.tel {
			margin-bottom: 7px;
		}
	}
}
@media screen and (max-width: 1000px) {
	header {
		width: 100%;
		padding: 30px;
	}
}
@media screen and (max-width: 745px) {
	header {
		justify-content: center;
		flex-wrap: wrap;
		padding: 0px 35px;
		h1 {
			font-size: $fsize-h2;
			width: 100%;
			order: -1;
			text-align: center;
			margin: 20px 0px;
		}
		img {
			display: none;
		}
		.contact {
			margin-bottom: 20px;
			.tel {
				text-align: center;
			}
		}
	}
}

///////////////////////////////////////////////////////////////
// courses
///////////////////////////////////////////////////////////////
.courses-container {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	.item {
		width: 350px;
		background: $color-light;
		box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.2);
		padding: 20px;
		margin: 15px;
		display: flex;
		flex-wrap: wrap;
		align-items: flex-start;
		.img {
			width: 100%;
			height: 250px;
			@include img-cover-center;
			a {
				display: block;
				width: 100%;
				height: 100%;
			}
		}
		.text-name {
			width: 100%;
			margin: 10px 0px;
		}
		.text-age {
			width: 100%;
			margin: 0px 0px 10px 0px;
			font-size: $fsize-text-small;
			font-weight: bold;
			a {
				color: $color-accent;
			}
		}
		.buttons {
			width: 100%;
			display: flex;
			align-self: flex-end;
			.btn-standart {
				margin: 5px;
				flex-grow: 1;
			}
		}
		.btn-attractor {
			width: 100%;
			margin: 5px;
		}
		.buttons-pay {
			width: 100%;

		}
	}
}

///////////////////////////////////////////////////////////////
// courses (форма оплаты)
///////////////////////////////////////////////////////////////
.courses-pay-container {
	width: 100%;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(255, 255, 255, 0.65);
	backdrop-filter: blur(5px);
}

.courses-pay-form {
	width: 450px;
	border-radius: 3px;
	background-color: #fff;
	padding: 30px;
	box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.4);

	input[type="text"]  {
		width: 100%;
		font-family: inherit;
		font-size: 16px;
		padding: 15px;
		margin-bottom: 10px;
	}
	input[type="text"]:focus {
		outline: 2px solid $color-accent;
	}
	p {
		margin-bottom: 25px;
	}
	.comment {
		font-size: 14px;
	}
}

.courses-pay-form-btn {
	position: relative;
	display: flex;
	border: 1px soldi blue;
	margin-top: 25px;
	margin-bottom: 10px;
	.btn-standart {
		width: 50%;
		margin: 0 5px;
	}
	.btn-attractor {
		width: 50%;
		margin: 0 5px;
	}
	.btn-disabled-block {
		width: 50%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 5px;
		background-color: rgba(255, 255, 255, 0.7);
	}
}

@media screen and (max-width: 1000px) {
	section.courses {
		width: 90%;
	}
}
@media screen and (max-width: 870px) {
	.courses-container .item {
		margin: 10px;
		width: calc(50% - 20px);
	}
}
@media screen and (max-width: 795px) {
	.courses-container .item {
		margin: 10px;
		width: 90%;
	}
}
@media screen and (max-width: 430px) {
	.courses-container .item {
		width: 100%;
	}
	.courses-container .buttons {
		flex-wrap: wrap;
		justify-content: center;
		.btn-standart {
			width: 100%;
		}
	}
}

///////////////////////////////////////////////////////////////
// teachers
///////////////////////////////////////////////////////////////
.teachers-container {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	.item {
		width: calc(50% - 30px);
		box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.2);
		padding: 20px;
		margin: 15px;
		display: flex;
		flex-wrap: wrap;
		align-items: flex-start;
		align-content: flex-start;
		.name {
			width: 100%;
			margin-bottom: 20px;
			font-size: $fsize-h3;
		}
		.img {
			width: 150px;
			height: 150px;
			@include img-cover-center;
		}
		.text {
			width: calc(100% - 150px);
			padding-left: 20px;
		}
	}
}
.teachers-text {
	display: flex;
	align-items: center;
	margin: 20px 0px;
	.btn-standart {
		margin-left: 30px;
	}
}
@media screen and (max-width: 1250px) {
	section.teachers {
		width: 90%;
	}
}
@media screen and (max-width: 1100px) {
	section.teachers {
		width: 90%;
	}
}
@media screen and (max-width: 1000px) {
	.teachers-container .item {
		width: 100%;
	}
}
@media screen and (max-width: 525px) {
	.teachers-container .item {
		.img {
			width: 100%;
			margin-bottom: 20px;
		}
		.text {
			width: 100%;
		}

	}
}

///////////////////////////////////////////////////////////////
// steps
///////////////////////////////////////////////////////////////
.steps-container {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	.item {
		width: 350px;
		padding: 20px;
		margin: 15px;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		.img {
			width: 70px;
			height: 70px;
			@include img-cover-center;
		}
		.text {
			width: calc(100% - 150px);
			padding-left: 20px;
		}
	}
}
.steps .btn-standart {
	margin: auto;
	display: block;
}
@media screen and (max-width: 970px) {
	section.steps {
		width: 90%;
	}
	.steps-container .item {
		width: calc(50% - 10px);
		margin: 15px 5px;
		padding: 0;
	}
}
@media screen and (max-width: 700px) {
	.steps-container .item {
		width: 90%;
		margin: 5px;
		margin: 20px 5px;
	}
}

///////////////////////////////////////////////////////////////
// map
///////////////////////////////////////////////////////////////
.map-container {
	height: 400px;
}

///////////////////////////////////////////////////////////////
// reviews
///////////////////////////////////////////////////////////////
.reviews-container {
	.item {
		padding: 20px;
		margin: 15px;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		.img {
			width: 150px;
			height: 150px;
			@include img-cover-center;
			border-radius: 50%;
		}
		.wrapper {
			width: calc(100% - 150px);
			padding-left: 20px;
			.name {
				margin-bottom: 10px;
				font-weight: bold;
			}
			.text {
				margin-bottom: 10px;
			}
			a {
				color: $color-accent;
			}
		}
	}
}
@media screen and (max-width: 1230px) {
	section.reviews {
		width: 90%;
	}
}
@media screen and (max-width: 710px) {
	.reviews-container .item {
		padding: 0;
		.img {
			display: none;
		}
		.wrapper {
			width: 100%;
			padding: 0;
		}
	}
}
