<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Курсы по программированию, 3d и созданию сайтов</title>
	<meta name="yandex-verification" content="0d9e3fa8572f54be">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Курсы по программированию и компьютерной графике в Пензе">
	<meta name="keywords" content="Обучение программированию, курсы программирования, 3d моделирование, 3d графика и анимация, Веб разработка, web программирование">
	<link rel="icon" type="image/png" href="img/favicon/favicon.png">
	<link rel="stylesheet" href="css/main.css">
	<link rel="stylesheet" href="css/index.css">
	<script type="text/javascript" src="https://vk.com/js/api/openapi.js?160"></script>
	<script src="module/sliderAd/all.js" defer> </script>
	<link rel="stylesheet" href="module/sliderAd/all.css">
</head>
<body>

	<header id="header">
		<a href="/">
			<img src="img/logo.jpg" alt="Курсы по программированию и компьютерной графике в Пензе" title="Обучение программированию и компьютерной графике в Пензе">
		</a>
		<div>
			<h1>Обучение программированию и компьютерной графике в Пензе</h1>
		</div>
		<div class="contact">
			<div class="tel">
				По всем вопросам <br> 
				<a href="tel:89273615163">+7(927) 361-51-63</a>
			</div>
			<button class="btn-standart" @click="getShowModal(-1);ym(52091805, 'reachGoal', 'targetButton', goalParams);">Получить консультацию</button>
		</div>
		<modal v-if="showModal[0]" @close="showModal[0] = false"></modal>
	</header>

	<div class="header-menu-container" id="menu">
		<nav class="header-menu">
			<ul>
				<li v-for="item in storeMenu" @click="clickMenu"><a :href="item.link"><span v-cloak>{{item.name}}</span></a></li>
			</ul>
		</nav>
		<button class="btn-standart btn-menu" @click="getShowModal(-1);ym(52091805, 'reachGoal', 'targetButton', goalParams);">Записаться на занятия</button>
		<div class="header-menu-touch">
			<span></span>
			<span></span>
			<span></span>
		</div>
		<modal v-if="showModal[1]" @close="showModal[1] = false"></modal>
	</div>
 <!-- slider -->

    <div class="sliderAd">

        <!-- sliderAd__item это отдельный слайд -->
        <div class="sliderAd__item">
            <div class="sliderAd__text">Lorem ipsum, dolor sit a
                met consectetur adipisicing elit. Veritatis, volu
                ptatibus eveniet quasi iure, repellat temporibus vel 
                exercitationem nulla expedita doloremque ipsam inventore veniam. Labo
                riosam laborum reprehenderit rem veritatis ducimus facere!</div>
            <div class="sliderAd__btn">
                <a href="#" class="sliderAd__sign">Записаться</a>
                <a href="#" class="sliderAd__more">Подробнее</a>
            </div>
        </div>

        <div class="sliderAd__item">
            <div class="sliderAd__text">Lorem ipsum, dolor sit a
                met consectetur adipisicing elit. Veritatis, volu
                ptatibus eveniet quasi iure, repellat temporibus vel 
                exercitationem nulla expedita doloremque ipsam inventore veniam. Labo
                riosam laborum reprehenderit rem veritatis ducimus facere!</div>
            <div class="sliderAd__btn">
                <a href="#" class="sliderAd__sign">Записаться</a>
                <a href="#" class="sliderAd__more">Подробнее</a>
            </div>
        </div>

    </div>

    <!-- ////// -->
	<h2 id="courses-scroll">Наши курсы</h2>
	<section class="courses" id="courses">
		<div class="courses-container">
			<div class="item" v-for="(item, i) in storeCourses">
				<div class="img" :style="{ backgroundImage: 'url('+item.img+')' }">
					<a :href="'courses/'+i"></a>
				</div>
				<div class="text-name">
					<a :href="'courses/'+i">
						<span v-cloak v-html="item.name"></span>
					</a>
				</div>
				<div class="text-age">
					<a :href="'courses/'+i">
						<span v-cloak>{{item.age}}</span>
					</a>
				</div>
				<div class="text-name">
					<a :href="'courses/'+i">
						<span v-cloak>Стоимость {{item.price}} руб/мес</span>
					</a>
				</div>
				<div class="buttons">
					<a :href="'courses/'+i" class="btn-standart">Подробнее</a>
					<button class="btn-standart" @click="getShowModal(i);ym(52091805, 'reachGoal', 'targetButton', goalParams);">Записаться на пробное бесплатное занятие</button>
				</div>
				<a
					style="display: none"
					href="#"
					class="btn-attractor"
					@click.prevent="showPayForm(i, item.name, item.price)"
				>Купить прямо сейчас</a>
			</div>
		</div>

		<div v-show="payForm" class="courses-pay-container" style="display: none;">
			<div class="courses-pay-form">
				<p>Для идентификации оплаты необходимо указать "ФИО" и "Номер телефона"</p>
				<input v-model="payFormData.name" type="text" placeholder="ФИО">
				
				<input
					v-model="payFormData.phone"
					@input="checkPhone"
					type="text"
					placeholder="Номер телефона (только цифры)*"
					maxlength="11"
					id="payFormPhone"
				>
				
				<div class="courses-pay-form-btn">
					<div class="btn-disabled-block" v-if="payLink == '#'"></div>
					<a @click.stop="closePayForm" :href="payLink" class="btn-attractor" target='_blank'>Оплатить</a>
					<a @click.prevent="closePayForm" href="#" class="btn-standart">Отмена</a>
				</div>
				
				<p class="comment">* Кнопка <strong>"Оплатить"</strong> станет активной, когда будет введен номер телефона (11 цифр)</p>
			</div>
		</div>

		<modal v-if="showModal[2]" @close="showModal[2] = false"></modal>
	</section>

	<h2 id="teachers-scroll">Преподаватели</h2>
	<section class="teachers" id="teachers">
		<div class="teachers-container">
			<div class="item" v-for="item in storeTeachers">
        		<div class="name"><span v-cloak>{{item.name}}</span></div>
				<div class="img" :style="{ backgroundImage: 'url('+item.img+')' }"></div>
				<div class="text"><span v-cloak>{{item.text}}</span></div>
			</div>
		</div>
		<div class="teachers-text">
			<div>Посмотрите на наших преподавателей в деле!</div>
			<button class="btn-standart" @click="getShowModal(-1);ym(52091805, 'reachGoal', 'targetButton', goalParams);">Жмите сюда, чтобы записаться на пробное бесплатное занятие!</button>
		</div>
		<modal v-if="showModal[3]" @close="showModal[3] = false"></modal>
	</section>
	
	<h2 id="steps-scroll">Как проходит обучение</h2>
	<section class="steps" id="steps">
		<div class="steps-container">
			<div class="item" v-for="item in storeSteps">
				<div class="img" :style="{ backgroundImage: 'url('+item.img+')' }"></div>
				<div class="text"><span v-cloak>{{item.text}}</span></div>
			</div>
		</div>
		<button class="btn-standart" @click="getShowModal(-1);ym(52091805, 'reachGoal', 'targetButton', goalParams);">Опробовать формат занятия</button>
		<modal v-if="showModal[4]" @close="showModal[4] = false"></modal>
	</section>
	
	<h2 id="map-scroll">Как нас найти</h2>
	<section class="map" id="map">
		<div class="map-container">
			<script type="text/javascript" charset="utf-8" src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Ad7e04349781f54c889a8a29951a35176ca626e2981c6aa73161244899f79f052&amp;width=100%25&amp;height=100%&amp;lang=ru_RU&amp;scroll=true"></script>
		</div>
	</section>
	
	
	<h2 id="reviews-scroll">Отзывы</h2>
	<section class="reviews" id="reviews">
		<div class="reviews-container">
        	<div class="item" v-for="item in storeReviews">
        		<div class="img" :style="{ backgroundImage: 'url('+item.img+')' }"></div>
        		<div class="wrapper">
					<div class="name"><span v-cloak>{{item.name}}</span></div>
					<div class="text"><span v-cloak>{{item.text}}</span></div>
					<a :href="item.link" target="_blank">Ссылка ВК</a>
        		</div>
			</div>
		</div>
	</section>
	

	<footer></footer>
	<div id="api"></div>

	<template id="template-modal"></template>
	<link rel="stylesheet" href="css/modal-template.css">

	<script src="libs/vue.min.js"></script>
	<script src="libs/axios.min.js"></script>
	<script src="libs/vuex.min.js"></script>
	<!-- <script src="libs/jquery.min.js"></script> -->
	<script src="libs/jquery.maskedinput.min.js"></script>

	<!-- slick-slider -->
<!-- 	<link rel="stylesheet" href="module/slick-slider/slick-slider.css">
	<link rel="stylesheet" href="module/slick-slider/custom.css"> -->
<!-- 	<script src="module/slick-slider/slick-slider.js"></script> -->

	<script src="js/main.js"></script>
	<script src="js/store.js"></script>
	<script src="js/index.js"></script>
	<script src="module/menu-scroll/menu-scroll.js"></script>
</body>
</html>
