.sliderAd{
	margin:50px;
    position: relative;
 

    margin: auto;
 
}

.sliderAd__item{
    background-image: url("slide_img/2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0 0 20px 0;
}

.sliderAd__text{
    padding: 10px 40px;
    font-size: 20px;
    color:white;
}

.sliderAd__btn{
    display: flex;
    justify-content: center;
    
}
.sliderAd__sign, .sliderAd__more{
    padding: 10px 20px;
    border-radius: 3px;
    text-decoration: none;
    font-family: sans-serif;
    color:#209c89;

    margin: 0px 30px;
}
.sliderAd__sign{
    background-color: rgba(32,156,137,0.9);
    color:white;
}
.sliderAd__more{
    border:1px solid #209c89;
    background-color: rgba(0, 0, 0, 0.6);
}


/* Начало настройки слайдера */
.sliderAd .slick-list{
    overflow: hidden;
}

.sliderAd .slick-track{
    display: flex;
}

.sliderAd:hover .slick-arrow{
    opacity: 1;
}

.sliderAd>.slick-arrow{
    position: absolute;
    z-index: 10;
    top: 40%;
    font-size: 0px;

    width: 60px;
    height: 100px;
    background-color: rgba(0,0,0,0.2);
    border:none;
    outline: none;
    opacity: 0;
    transition: 0.5s;

    background-image: url('slide_img/arrow.svg');
    background-position:  center;
    background-repeat: no-repeat;
    background-size: 90%;
    
}

.sliderAd>.slick-prev{
    transform: rotate(180deg);
    left:0px;

}
.sliderAd>.slick-next{

    right: 0px;
}


.sliderAd .slick-dots{
    display: flex;
    align-items: center;
    justify-content: center;
}
.sliderAd .slick-dots li{
    list-style: none;
    margin: 0px 10px;
}
.sliderAd .slick-dots li.slick-active button{
    background-color: transparent;
    border:2px solid #209c89;
   
}

.sliderAd .slick-dots button{
    font-size: 0px;
    width: 20px;
    height: 20px;
    background-color: #209c89;
    border-radius: 50%;
    outline: none;
    border:none;
}