.sliderAd__item>div{

    height: 100px;
}
.red{
    background-color: #f00;
}
.green{
    background-color: #0f0;
}

/* Начало настройки слайдера */
.slick-list{
    overflow: hidden;
}

.slick-track{
    display: flex;
}